.home {
    background: url("https://res.cloudinary.com/dgsgi8g9f/image/upload/v1683064045/4110_ao3fjb.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 86.2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    opacity: 0.8;


}

.box {

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    opacity: 1;

}

.box1 {
    border: #b41f1f 2px solid;
    margin-left: 45%;
    background-color: rgb(252, 248, 252);
}

.home2 {
    background: url("https://res.cloudinary.com/dgsgi8g9f/image/upload/v1683058418/981_cylvde.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 170vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0.8;


}

.home3 {
    background: url("https://res.cloudinary.com/dgsgi8g9f/image/upload/v1683058418/981_cylvde.jpg") no-repeat center center fixed;

    background-size: cover;
    height: 86.2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0.8;


}

.home4 {
    background: url("https://res.cloudinary.com/dgsgi8g9f/image/upload/v1683058418/981_cylvde.jpg") no-repeat center center fixed;

    background-size: cover;
    height: 86.2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0.8;


}

/* add reponsive to home4 */

@media screen and (max-width: 480px) {
    .home4 {
        background: url("https://res.cloudinary.com/dgsgi8g9f/image/upload/v1683058418/981_cylvde.jpg") no-repeat center center fixed;

        background-size: cover;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        opacity: 0.8;


    }

}

/* add reponsive to box1 */

@media screen and (max-width: 768px) {
    .box1 {
        border: #b41f1f 2px solid;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(252, 248, 252);

    }
}
